@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    min-height: 100vh;
    background: linear-gradient(#fff, #fff);
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo
{
    color: #000;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li
{
    list-style: none;
    margin-left: 20px;
}

header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #000;
    border-radius: 20px;
}

header ul li a:hover,
header ul li a.active
{
    background: #fff;
    color: #000;
}

section
{
    position: relative;
    width: 100%;
    height: 400px;
    padding: 100px;
}

#home
{
    background-image: url("bg2.jpeg");
    max-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#parallax
{
    background-image: url("bg2.jpeg");
    max-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#btn
{
    text-decoration: none;
    display: inline-block;
    padding: 4px 15px;
    border-radius: 40px;
    background: #fff;
    color: #000;
    font-size: 1.2em;
}